<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <div class="">
                    <span class="input-group-text">
                      <H2>Solicitud de consumibles</H2>
                    </span>
                    </div>
              </div>
    
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Folio</span>
                <div class="input-group-prepend">
                  <input name="releaseDate" type="date" value="2019-11-01"/>

                </div>
              </div>
    
        </div>
      </div>
  <div class="row">
    <div class="col-sm">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Folio</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="XXXXXXXX23">
          </div>
    </div>
    <div class="col-sm">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Solicitante</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="John Smith">
          </div>

    </div>
    <div class="col-sm">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Area</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Ensamble">
          </div>

    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-sm">
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Consumible</span>
              </div>
              <select class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  <option class=""value="" selected>Selecciona un consumible</option>
                  <option value="CBALUM">CBALUM</option>
                  <option value="LR20">LR20</option>
                  <option value="MANALUM">MANALUM</option>
                  <option value="IDAFI">DIAFI</option>
                  <option value="IDAFI">LAMP</option>
                  <option value="IDAFI">2...</option>
                  <option value="IDAFI">3...</option>
                  <option value="IDAFI">4...</option>
                  <option value="IDAFI">5...</option>
              </select>
            </div>

      </div>
      <div class="col-sm">
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default" aria-placeholder="0">Cantidad</span>
              </div>
              <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
      </div>
      <div class="col-sm">
        
          <td scope="row"><button type="submit" class="btn btn-primary" >Agregar</button></td>
  
      </div>
    </div>
</div>
<br>
<table class="table table-hover" id="main">
    <thead>
      <tr>

        <th scope="col"><span class="input-group-text" id="inputGroup-sizing-default">Nombre</span></th>
        <th scope="col"><span class="input-group-text" id="inputGroup-sizing-default">Descripcion</span></th>
        <th scope="col"><span class="input-group-text" id="inputGroup-sizing-default">Cantidad</span></th>
        <th scope="col"><span class="input-group-text" id="inputGroup-sizing-default">Precio unitario</span></th>
        <th scope="col"><span class="input-group-text" id="inputGroup-sizing-default">Subtotal</span></th>
        <th scope="col"><span class="input-group-text" id="inputGroup-sizing-default">|-|</span></th>

      </tr>
    </thead>
    <tbody>              
      <tr *ngFor= "let voucherItem of voucherItemList">
      <th scope="row">{{voucherItem.name}}</th>
      <td scope="row">{{voucherItem.description}}</td>

        <td scope="row">{{voucherItem.qty}}</td>
        <td>{{voucherItem.price}}</td>
        <td>{{voucherItem.subtotal}}</td>
        <td> <button type="submit" class="btn btn-primary" (click)="deleteRow(voucherItem)">Delete</button></td>
  
    </tr>
  </tbody>
  
  </table>
  <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar solicitud</button>