<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Usuario</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Agregar Usuario</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row justify-content-center align-items-center">
                    <div class="card">
            
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Buscar Usuario">
                            </div>
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </form>
            
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">EMail</th>
                                    <th scope="col">Cargo</th>
                                    <th scope="col">Linea</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Editar</th>
                                    <th scope="col">Borrar</th>
                                </tr>
                            </thead>
                            <tr>
                                <th scope="row">1</th>
                                <td>Juanito</td>
                                <td>Perez</td>
                                <td>Juanito.Perez@warehouse.net</td>
                                <td>Susperivor</td>
                                <td>Produccion</td>
                                <td>Activo</td>
                                <td><button type="button" class="btn btn-warning">Editar</button></td>
                                <td><button type="button" class="btn btn-danger">Borrar</button></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Juanita</td>
                                <td>Perez</td>
                                <td>Juanita.Perez@warehouse.net</td>
                                <td>Colaborador</td>
                                <td>Produccion</td>
                                <td>Inactivo</td>
                                <td><button type="button" class="btn btn-warning">Editar</button></td>
                                <td><button type="button" class="btn btn-danger">Borrar</button></td>
                            </tr>
                        </table>
            
                    </div>
                </div>
      </div>
      <div class="tab-pane fade main" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <app-add-user></app-add-user>
      </div>
        </div>
