    <div id="mySidenav" class="sidenav">
        <a class="closebtn" (click)="closeNav($event)">&times;</a>

        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="false" routerLink="/home">Home</a>
              <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" routerLink="/item">Consumibles</a>
              <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false" routerLink="/vrequest">Solicitar</a>
              <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false" routerLink="/voucher">Vouchers</a>
              <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false" routerLink="/user">Usuarios</a>
            </div>
          </div>
      </div>
  <!-- Use any element to open the sidenav -->

  <ul class="navbar navbar-dark bg-dark " style="background-color: #111;">
    <li class="nav-item">
        <div class="pos-f-t">
            <nav class="navbar navbar-dark bg-dark">
              <button class="navbar-toggler" (click)="openNav($event)" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>
          </div>

    </li>
      <li class="navbar-brand ">
        <a id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" href=""></a>
      </li>
      <li class="navbar-brand">
        <a id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" href=""></a>
      </li>
      <li class="navbar-brand">
        <a id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" href=""></a>
      </li>
      <li class="navbar-brand">
        <a id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" href="" tabindex="-1" aria-disabled="true"></a>
      </li>
    </ul>

  
  <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
  <div id="main" class="main">
      <router-outlet></router-outlet>
  </div>
