<div class="row">
    <div class="col-sm">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            </div>
          </div>
    </div>
    <div class="col-sm">
        <div class="input-group mb-3">
            <div class="">
                <span class="input-group-text">
                  <H2>Vouchers</H2>
                </span>
                </div>
          </div>

    </div>
    <div class="col-sm">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Fecha</span>
            <div class="input-group-prepend">
              <input name="releaseDate" type="date" value="2019-11-01" disabled/>

            </div>
          </div>

    </div>
  </div>

<table class="table table-hover" id="main">
    <thead>
      <tr>

        <th scope="col"><span class="input-group-text" id="inputGroup-sizing-default">Folio</span></th>
        <th scope="col"><span class="input-group-text" id="inputGroup-sizing-default">Solicitante</span></th>
        <th scope="col"><span class="input-group-text" id="inputGroup-sizing-default">Fecha</span></th>
        <th scope="col"><span class="input-group-text" id="inputGroup-sizing-default">Status</span></th>

      </tr>
    </thead>
    <tbody>              

  <tbody>              
    <tr *ngFor= "let voucher of voucherList">
    <th scope="row">{{voucher.invoiceNumber}}</th>
      <td scope="row">{{voucher.orderUser}}</td>
      <td>{{voucher.orderDate}}</td>
      <td>{{voucher.status}}</td>
      <td> <button type="submit" class="btn btn-primary" (click)="deleteRow(voucher)">Delete</button></td>

  </tr>
</tbody>
</table>