
<div class="form-container container"> 
  <br>
  <br>
    <h1><p style="color:rgb(125, 60, 179);"></p></h1>
    <form  (ngSubmit)= "OnSaveForm()">
     
        <div class="row">
            <div class="col-sm">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Imagen</span>
                    </div>
                    <input type="file" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="XXXXXXXX23">
                  </div>
            </div>
            <div class="col-sm">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="John Smith">
                  </div>
        
            </div>

          </div>




          <div class="row">
              <div class="col-sm">
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Stock Minimo</span>
                      </div>
                      <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="10">
                    </div>
              </div>
              <div class="col-sm">
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Stock Maximo</span>
                      </div>
                      <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="25">
                    </div>
          
              </div>
              <div class="col-sm">
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Dias de Margen</span>
                      </div>
                      <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="15">
                    </div>
          
              </div>
            </div>



            <div class="row">
                <div class="col-sm">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">Descripcion</span>
                        </div>
                        <textarea class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."></textarea>
                      </div>
            
                </div>
              </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar solicitud</button>

    </form>


    </div> 