

                                <app-hijo *ngIf="IsVisible" [txtMessage] ="message" (Yes)="onModalYes($event)"></app-hijo>
                                <input type="text" id="message" name="message" [(ngModel)]="message">
                                <br>
                                <button (click)='OnClickShowMessage()' id="ShowButton" class="btn btn-primary">Mostrar PopUP</button>

<div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    </div>
                  </div>
            </div>
            <div class="col-sm">
                <div class="input-group mb-3">
                    <div class="">
                        <span class="input-group-text">
                          <img src="../../../assets/Logo.jpg" >
                        </span>
                        </div>
                  </div>
        
            </div>
            <div class="col-sm">
                <div class="input-group mb-3">
                    </div>
                  </div>
            </div>
          </div>
          <div class="container">
                <div class="col-sm">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Ultimos movimientos</span>
                            <div class="input-group-prepend">

                            </div>
                            <div class="input-group-prepend">
                                    <label>
    
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </label>
                                </div>

                                <div class="input-group-prepend">
                                        <label>
        
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </label>
                                    </div>

                                    <div class="input-group-prepend">
                                            <label>
            
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </label>
                                        </div>

                                        <div class="input-group-prepend">
                                                <label>
                
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                </label>
                                            </div>

                                            <div class="input-group-prepend">
                                                    <label>
                    
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                    </label>
                                                </div>
                    
                          </div>
                
                    </div>
        
        </div>